<div class="login shadow-lg bg-white mx-auto w-[500px] mt-20 rounded-lg">
  <div class="icon flex items-center justify-center !pt-3">
    <fa-icon [icon]="faLock" class="mx-aut fa-3x"></fa-icon>
  </div>
  <div class="welcome flex flex-col items-center mt-3 mx-10">
    <h1 class="header text-[1.7rem] text-gray-900 font-[600]">
      Forgot Password
    </h1>
    <div class="p text-[1.1rem] text-gray-400 text-center">
      Please enter your registered email where we will send you the reset
      password link
    </div>
  </div>
  <div class="inputs mx-10 mt-12 pb-6">
    <div class="">
      <input
        type="text"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Email Address"
        required
      />
    </div>
    <button
      type="button"
      class="mt-10 bg-blue-600 border border-gray-300 text-white text-sm rounded-lg block w-full p-2.5"
      required
    >
      Reset Password Link
    </button>
  </div>

  <div
    class="bg-gray-100 py-3 flex items-center justify-end pr-20 rounded-b-lg"
  >
    <small
      >Ohh I remember<a
        routerLink="../login"
        class="text-blue-600 cursor-pointer pl-1"
        >Back to Login</a
      ></small
    >
  </div>
</div>
